<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
	   <title>
	    Dashboard Home
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
	  <object th:include="dashboard/modules/net-worth-chart :: head" th:remove="tag" ></object>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>

        <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>

        <!-- page content -->
        	<div class="right_col" role="main">
         		 <div class="">
                      <div th:replace="dashboard/modules/net-worth-chart :: net-worth-line-chart">&copy; EveryRupee Dashboard Line Chart</div>
                 </div>
            </div>
        <!-- /page content -->
		
		<div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer">&copy; 2019 EveryRupee</div>
      </div>
      </div>
      <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
      <div th:replace="dashboard/modules/net-worth-chart :: footer">&copy; 2019 EveryRupee Scripts</div>
      
  </body>
</html>
