<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
	    Income
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
	  <link href="../css/plugins/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/css/plugins/bootstrap-datetimepicker.min.css}">
</head>



<body class="income-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
          	<div class="col-md-10 col-sm-10 ml-auto mr-auto">
          		<div class="card">
          			<div class="card-body text-center">
          				    <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">
          			</div>
          		</div>
          	</div>
			<div class="col-md-9 col-sm-9">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Transactions</h4>
                  <div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModal">
                  	<button class="btn btn-primary btn-raised button-right">Add Transactions</button>
                  </div>
                  <div class="span4 proj-div" data-toggle="modal" data-target="#GSCCModalDelete">
                  	<button id="manageTransactionButton" class="btn btn-danger button-right" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one transaction">Delete Transactions</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="eventsTable" class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                          	<div class="form-check">
                          		<label class="form-check-label">
                          		<input type="checkbox" class="form-check-input" id="checkAll">
									<span class="form-check-sign">
										<span class="check">
										</span>
									</span>
								</label>
							</div>
						  </th>
                          <th>Description</th>
                          <th>Category</th>
                          <th class="text-right">Amount</th>
                          <th class="text-right">Budgeted</th>
                        </tr>
                      </thead>
                      <tbody id="productsJson">
                        <!-- Filled with Javascript dynamically -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-md-3 col-sm-3">
              <div class="card">
                <div class="card-body text-center">
                	<h4 class="card-title">Total Budgeted</h4>
                	<h4 class="card-title">0.00</h4>
                	<hr>
                	<h4 class="card-title">Total Income</h4>
                	<h4 class="card-title">0.00</h4>
                	<hr>
                	<h4 class="card-title">Total Spent</h4>
                	<h4 class="card-title">0.00</h4>
                </div>
               </div>
            </div>           
          </div>
          <!-- end row -->
        </div>
      </div>
      
      <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer">&copy; 2019 EveryRupee</div>
      
    </div>
  </div>
  
  <!-- Add Transaction Modal -->
  <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	 <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h4 class="modal-title" id="myModalLabel">Add Transactions</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
	      </div>
	      <div class="modal-body">
		      <form autocomplete="off" id="transactionsForm" action="#" method="post" class="form-inline" role="form" >
			      		<div class="form-group">
			      			<label class="sr-only" for="description">Description</label>
			      			<input id="description" name="description" type="text" placeholder="Description..." class="form-control" />
			      		</div>
			      		<div class="form-group">
			      			<label class="sr-only" for="category">Category</label>
			      			<input id="category" name="category" type="text" placeholder="Category..." class="form-control" />
			      		</div>
			      		<div class="form-group">
			      			<label class="sr-only" for="amount">Amount</label>
			      			<input id="amount" name="amount" type="number" placeholder="Amount..." class="form-control" />
			      		</div>
			      		<div class="form-group">
			      			<button type="submit" class="btn btn-primary"><i class="material-icons">add_circle_outline</i></button>
			      		</div>
			  </form>
			  <span id="errorMessage" style="font-size: 20; color: #FF1C19;" th:utext="${errorMessage}"></span>
		   </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
	    </div>
	  </div>
	</div>
	
	 <!-- Delete Transaction Modal -->
	  <div id="GSCCModalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		 <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 class="modal-title" id="myModalLabel">Delete Selected Transactions</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
		      </div>
		      <div class="modal-body text-center">
			      <p>Are you sure?</p>
			      <button id="deleteTransaction" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			   </div>
		    </div>
		  </div>
		</div>
  
  
  <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
  <!-- Loads the custom class for every rupee -->
  <script defer src="../js/dashboard/income/transactions.js" th:src="@{/js/dashboard/income/transactions.js}" type="text/javascript"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
