<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
	    Income
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
</head>

<body class="profile-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
      <div class="content">
        <div class="container-fluid">
        	<div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="page-categories">
                <h3 class="title text-center">Page Subcategories</h3>
                <br>
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                      <i class="material-icons">info</i> Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                      <i class="material-icons">location_on</i> Location
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                      <i class="material-icons">gavel</i> Legal Info
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#link10" role="tablist">
                      <i class="material-icons">help_outline</i> Help Center
                    </a>
                  </li>
                </ul>
                <div class="tab-content tab-space tab-subcategories">
                  <div class="tab-pane" id="link7">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Description about product</h4>
                        <p class="card-category">
                          More information here
                        </p>
                      </div>
                      <div class="card-body">
                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                        <br>
                        <br> Dramatically visualize customer directed convergence without revolutionary ROI.
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="link8">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Location of the product</h4>
                        <p class="card-category">
                          More information here
                        </p>
                      </div>
                      <div class="card-body">
                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                        <br>
                        <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="link9">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Legal info of the product</h4>
                        <p class="card-category">
                          More information here
                        </p>
                      </div>
                      <div class="card-body">
                        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                        <br>
                        <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane active show" id="link10">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Help center</h4>
                        <p class="card-category">
                          More information here
                        </p>
                      </div>
                      <div class="card-body">
                        From the seamless transition of glass and metal to the streamlined profile, every detail was carefully considered to enhance your experience. So while its display is larger, the phone feels just right.
                        <br>
                        <br> Another Text. The first thing you notice when you hold the phone is how great it feels in your hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable, simplified design.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        	<div class="card">
        		<div class="card-body">
        			<div class="row">
			        	<div class="col-md-4 col-sm-4">
		                   <h4 class="title">Avatar</h4>
		                   <div class="fileinput fileinput-new text-center" data-provides="fileinput">
		                     <div class="fileinput-new thumbnail img-circle">
		                       <img src="../img/dummy/placeholder.jpg" alt="...">
		                     </div>
		                     <div class="fileinput-preview fileinput-exists thumbnail img-circle" style=""></div>
		                     <div>
		                       <span class="btn btn-round btn-rose btn-file">
		                         <span class="fileinput-new">Add Photo</span>
		                         <span class="fileinput-exists">Change</span>
		                         <input type="hidden"><input type="file" name="...">
		                       <div class="ripple-container"></div></span>
		                       <br>
		                       <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
		                     </div>
		                   </div>
		                 </div>
		                 <div class="col-md-4 col-sm-4">
		                  Update Currency Locale default "en_IN"
		                 </div>
		                 <div class="col-md-4 col-sm-4">
		                  Allow user to share their financial portfolio with others, share the financial portfolio with other users and combine them into one.
		                 </div>
		        	</div>
        		</div>
        		<div class="row">
			        	Customize categories
        		</div>
        	</div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
  
</body>

</html>
