<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
	    Income
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
</head>

<body class="profile-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
      <div class="content">
        <div class="container-fluid">
        	<div class="card">
        		<div class="card-body">
        			<div class="row">
			        	<div class="col-md-3 col-sm-4">
		                   <h4 class="title">Avatar</h4>
		                   <div class="fileinput fileinput-new text-center" data-provides="fileinput">
		                     <div class="fileinput-new thumbnail img-circle">
		                       <img src="../img/dummy/placeholder.jpg" alt="...">
		                     </div>
		                     <div class="fileinput-preview fileinput-exists thumbnail img-circle" style=""></div>
		                     <div>
		                       <span class="btn btn-round btn-rose btn-file">
		                         <span class="fileinput-new">Add Photo</span>
		                         <span class="fileinput-exists">Change</span>
		                         <input type="hidden"><input type="file" name="...">
		                       <div class="ripple-container"></div></span>
		                       <br>
		                       <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
		                     </div>
		                   </div>
		                 </div>
		        	</div>
        		</div>
        	</div>
        </div>
      </div>
      
      <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer">&copy; 2019 EveryRupee</div>
      
    </div>
  </div>
  
  <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
  
</body>

</html>
