<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
	    Investment
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
</head>

<body class="settings-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
      
      <div class="content">
        <div class="container-fluid">
        </div>
      </div>
      
      <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer">&copy; 2019 EveryRupee</div>
      
    </div>
  </div>
  <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-sidebar-settings">&copy; 2019 EveryRupee Scripts</div>
  
  
  <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
  
</body>

</html>
