<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
	    Income
	  </title>
	  <link href="../css/dashboard/income/transactions.min.css" rel="stylesheet" th:href="@{/css/dashboard/income/transactions.min.css}">
	  <script defer th:src="@{/js/dashboard/income/transactions.min.js}" type="text/javascript"></script>
</head>
<body class="income-dashboard">
      <div class="content" id="mutableDashboard">
        <div class="container-fluid">
          <div class="row">
			<div class="col-md-9 col-sm-9">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Transactions</h4>
                  <!-- input with date time picker -->
				  <div class="form-group">
				    <label class="card-title label-control">Datetime Picker</label>
				    <input type="text" class="card-title form-control datetimepicker" id="monthYearOnlyPicker"/>
				  </div>
				  <button type="button" class="btn btn-success btn-raised button-right btn-sm" data-toggle="modal" data-target="#GSCCModal">Add Transactions</button>
                  <button id="manageTransactionButton" class="btn btn-danger button-right btn-sm" onclick="popup.showSwal('warning-message-and-confirmation')" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one transaction">Delete Transactions</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="transactionsTable" class="table table-fixed">
                      <thead>
                        <tr>
                          <th class="text-center width-5">#</th>
                          <th class="width-5">
                          	<div class="form-check">
                          		<label class="form-check-label">
                          		<input type="checkbox" class="form-check-input" id="checkAll">
									<span class="form-check-sign">
										<span class="check">
										</span>
									</span>
								</label>
							</div>
						  </th>
						  <th class="width-30" title="Category assigned to the transactions">Category</th>
                          <th class="width-30" title="Description for the transaction">Description</th>
                          <th class="text-right width-15" title="The amount spent or received">Transaction</th>
                          <th class="text-right width-15" title="Budget assigned for this category">Budget</th>
                        </tr>
                      </thead>
                      <tbody id="productsJson">
                      	<tr><td></td><td></td><td></td><td><div class="material-spinner"></div></td></tr>
                        <!-- Filled with Javascript dynamically -->
                         <!-- TODO Enable individual Category expansion -->
                         <!-- TODO OptGroup selection displays the optgroup heading for the selected categories as well -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> 
             <div class="col-md-3 col-sm-3">
              <div class="card">
              	<div class="card-header card-header-icon card-header-danger">
                  <div class="card-icon">
                    <i class="material-icons">pie_chart</i>
                  </div>
                  <h4 class="card-title">Financial Position</h4>
                </div>
                <div class="card-body text-center">
                	<div id="chartFinancialPosition" class="ct-chart">
                		<div class="material-spinner"></div>
                	</div>
                	<span id="currentCurrencySymbol" th:text="#{message.currencySumbol}" class="d-none"></span>
                		<div>
                			<i class="material-icons text-success legend-spacing">fiber_manual_record</i><span class="align-middle">Total Income</span>
                		</div>
                			<h4 id="totalIncomeTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                		<hr>
                		<div>
	                		<i class="material-icons text-danger legend-spacing">fiber_manual_record</i><span class="align-middle">Total Spent</span>
	                	</div>
		                	<h4 id="totalExpensesTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                		<hr>
                		<div>
							<i class="material-icons text-info legend-spacing">fiber_manual_record</i><span id="totalAvailableLabel" class="align-middle">Total Available</span>
						</div>
	                		<h4 id="totalAvailableTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                </div>
                <div class="card-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="card-category">Short Description</h6>
                      </div>
                      <div id="legendPieChart" class="col-md-12 text-center">
                      </div>
                    </div>
                  </div>
               </div>
            </div>          
          </div>
          <!-- end row -->
        </div>
      </div>
      
  
	<!-- Vertically Centered Modal -->
	<div class="modal fade" id="GSCCModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" aria-labelledby="GSCCModal">
            <div class="modal-dialog modal-signup" role="document">
              <div class="modal-content">
                <div class="card card-signup card-plain">
                  <div class="modal-header">
                    <h5 class="modal-title card-title">Choose Your Preference</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="material-icons">clear</i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-5 ml-auto">
                        <div class="info info-horizontal">
                          <div class="icon icon-rose">
                            <i class="material-icons">account_balance</i>
                          </div>
                          <div class="description">
                            <h4 class="info-title">Connect With Your Bank</h4>
                            <p class="description">
                              Connect your bank account to import the transactions for the current month.
                            </p>
                          </div>
                        </div>
                        <div class="info info-horizontal">
                          <div class="icon icon-primary">
                            <i class="material-icons">sync</i>
                          </div>
                          <div class="description">
                            <h4 class="info-title">Automatic Bank Account Syncs</h4>
                            <p class="description">
                              Automatically syncs with the bank account to obtain transactions every start of the month.
                            </p>
                          </div>
                        </div>
                        <div class="info info-horizontal">
                          <div class="icon icon-info">
                            <i class="material-icons">import_export</i>
                          </div>
                          <div class="description">
                            <h4 class="info-title">Import From Bank Statements</h4>
                            <p class="description">
                              You can also import the transactions from your bank statements
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 mr-auto">
                        <div class="social text-center">
                          <button class="btn btn-just-icon btn-round btn-bank">
                            <i class="material-icons">account_balance</i>
                          </button>
                          <button class="btn btn-just-icon btn-round btn-sync">
                            <i class="material-icons">sync</i>
                          </button>
                          <button class="btn btn-just-icon btn-round btn-import">
                            <i class="material-icons">import_export</i>
                          </button>
                          <h4> or be classical </h4>
                        </div>
                        <form id="transactionsForm" action="#" method="post" role="form">
                          <div class="card-body">
                            <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">money</i></div>
                                </div>
                                <input id="amount" name="amount" type="number" class="form-control small-input" required aria-required="true" aria-invalid="true" placeholder="Amount"/>
                              </div>
                            </div>
                            <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">category</i></div>
                                </div>
                                <select id="categoryOptions" name="categoryOptions" class="form-control" data-toggle="dropdown" data-style="btn btn-primary" aria-haspopup="true" aria-expanded="false" data-width="auto" data-container="body" data-size="5">
				      				<optgroup id="expenseSelection" label="Expenses">
				      				</optgroup>
				      				<optgroup id="incomeSelection" label="Income">
				      				</optgroup>
				      			</select>
                              </div>
                            </div>
                            <div class="form-group bmd-form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="material-icons">description</i></div>
                                </div>
                                <input id="description" name="description" type="text" class="form-control" placeholder="Description"/>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer justify-content-center">
                            <button class="btn btn-success btn-round" id="transactionsFormButtonSubmission"  type="submit" form="transactionsForm">Add Transaction</button>
                          </div>
                        </form>
                        <span id="successMessage" th:utext="${successMessage}" class="justify-content-center"></span>
			  			<span id="errorMessage" th:utext="${errorMessage}" class="justify-content-center"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	
</body>
</html>
