<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
	    Income
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
	  <link href="../css/plugins/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/css/plugins/bootstrap-datetimepicker.min.css}">
</head>



<body class="income-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
          	<div class="col-md-10 col-sm-10 ml-auto mr-auto">
          		<div class="card">
          			 <div class="card-header card-header-success card-header-icon">
		                  <div class="card-icon">
		                    <i id="font-25" class="fa fa-calendar" aria-hidden="true"></i>
		                  </div>
		             </div>
		             <div class="padding-top-0 card-body">
	          			<div class="container">
	    					<div class="row">
	    						<!-- Dynamically generate table contents -->
	    						<div class="col-md-1 ml-auto mr-auto"><a class="prevMonths green-icon" href="#"><i class="material-icons">arrow_left</i></a></div>
	    						<div id="calendar" class="row col-md-10 ml-auto mr-auto"></div>
	    						<div class="col-md-1 ml-auto mr-auto"><a class="nextMonths green-icon" href="#"><i class="material-icons">arrow_right</i></a></div>
	    					</div>
	    				</div>
	    			 </div>
          		</div>
          	</div>
          </div>
          <div class="row">
			<div class="col-md-9 col-sm-9">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Transactions</h4>
				  <button type="button" class="btn btn-success btn-raised button-right" data-toggle="modal" data-target="#GSCCModal">Add Transactions</button>
                  <button id="manageTransactionButton" class="btn btn-danger button-right" onclick="popup.showSwal('warning-message-and-confirmation')" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one transaction">Delete Transactions</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="transactionsTable" class="table table-hover">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                          	<div class="form-check">
                          		<label class="form-check-label">
                          		<input type="checkbox" class="form-check-input" id="checkAll">
									<span class="form-check-sign">
										<span class="check">
										</span>
									</span>
								</label>
							</div>
						  </th>
						  <th>Category</th>
                          <th>Description</th>
                          <th class="text-right">Transaction</th>
                          <th class="text-right">Budget</th>
                        </tr>
                      </thead>
                      <tbody id="productsJson">
                        <!-- Filled with Javascript dynamically -->
                         <!-- TODO Enable individual Category expansion -->
                         <!-- TODO OptGroup selection displays the optgroup heading for the selected categories as well -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-md-3 col-sm-3">
              <div class="card">
                <div class="card-body text-center">
                	<span id="currentCurrencySymbol" th:text="#{message.currencySumbol}" class="d-none"></span>
                	<div class="row">
                		<div class="col-md-6"><p class="card-title small">Total Income:</p></div>
                		<div class="col-md-6"><h4 id="totalIncomeTransactions" class="card-title font-weight-bold text-right"></h4></div>
                	</div>
                	<div class="row">
                		<div class="col-md-6"><p class="card-title small">Total Spent:</p></div>
	                	<div class="col-md-6"><h4 id="totalExpensesTransactions" class="card-title font-weight-bold text-right"></h4></div>
                	</div>
                	<hr>
                	<div class="row">
						<div class="col-md-6"><p class="card-title small">Total Available:</p></div>
                		<div class="col-md-6"><h4 id="totalAvailableTransactions" class="card-title font-weight-bold text-right"></h4></div>
                	</div>
                	<br/>
                	<p class="small">You can use the amount available to <a href="/dashboard/goals">add goals</a></p>
                </div>
               </div>
            </div>           
          </div>
          <!-- end row -->
        </div>
      </div>
      
    </div>
  </div>
  
	<!-- Vertically Centered Modal -->
	<div class="modal fade" id="GSCCModal" tabindex="-1" role="dialog" aria-labelledby="GSCCModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header border-bottom-0 padding-bottom-none">
              <div class="modal-card-icon">
                <i class="material-icons">input</i>
              </div>
	        <h4 class="modal-title" id="myModalLabel">Add Transactions</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form autocomplete="off" id="transactionsForm" action="#" method="post" role="form" >
	        			<div class="form-group bmd-form-group">
			      			<label class="bmd-label-floating" for="amount">Amount</label>
			      			<input id="amount" name="amount" type="number" class="form-control small-input" required aria-required="true" aria-invalid="true"/>
			      		</div>
			      		<div class="form-group bmd-form-group">
			      			<select id="categoryOptions" name="categoryOptions" class="dropdown dropdown-toggle bootstrap-select form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      				<optgroup id="expenseSelection" label="Expenses">
			      				</optgroup>
			      				<optgroup id="incomeSelection" label="Income">
			      				</optgroup>
			      			</select>
			      		</div>
			      		<div class="form-group bmd-form-group">
			      			<label class="bmd-label-floating" for="description">Description</label>
			      			<input id="description" name="description" type="text" class="form-control"/>
			      		</div>
			  </form>
			  <span id="successMessage" th:utext="${successMessage}"></span>
			  <span id="errorMessage" th:utext="${errorMessage}"></span>
	      </div>
	      <div class="modal-footer border-top-0 d-block padding-top-none">
	      	<button type="submit" class="btn btn-success" form="transactionsForm">Add Transaction</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
  <div th:replace="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</div>
  <!-- Loads the custom class for every rupee -->
  <script defer src="../js/dashboard/income/transactions.js" th:src="@{/js/dashboard/income/transactions.js}" type="text/javascript"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</body>
</html>
