<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
	    Income
	  </title>
	  <link href="../css/minify/dashboard/income/transactions.css" rel="stylesheet" th:href="@{/css/minify/dashboard/income/transactions.css}">
</head>



<body class="income-dashboard" >
      <div class="content" id="mutableDashboard">
        <div class="container-fluid">
          <div class="row">
			<div class="col-md-9 col-sm-9">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Transactions</h4>
                  <!-- input with date time picker -->
				  <div class="form-group">
				    <label class="card-title label-control">Datetime Picker</label>
				    <input type="text" class="card-title form-control datetimepicker" id="monthYearOnlyPicker"/>
				  </div>
				  <button type="button" class="btn btn-success btn-raised button-right btn-sm" data-toggle="modal" data-target="#GSCCModal">Add Transactions</button>
                  <button id="manageTransactionButton" class="btn btn-danger button-right btn-sm" onclick="popup.showSwal('warning-message-and-confirmation')" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one transaction">Delete Transactions</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="transactionsTable" class="table table-fixed">
                      <thead>
                        <tr>
                          <th class="text-center width-5">#</th>
                          <th class="width-5">
                          	<div class="form-check">
                          		<label class="form-check-label">
                          		<input type="checkbox" class="form-check-input" id="checkAll">
									<span class="form-check-sign">
										<span class="check">
										</span>
									</span>
								</label>
							</div>
						  </th>
						  <th class="width-30" title="Category assigned to the transactions">Category</th>
                          <th class="width-30" title="Description for the transaction">Description</th>
                          <th class="text-right width-15" title="The amount spent or received">Transaction</th>
                          <th class="text-right width-15" title="Budget assigned for this category">Budget</th>
                        </tr>
                      </thead>
                      <tbody id="productsJson">
                      	<tr><td></td><td></td><td></td><td><div class="material-spinner"></div></td></tr>
                        <!-- Filled with Javascript dynamically -->
                         <!-- TODO Enable individual Category expansion -->
                         <!-- TODO OptGroup selection displays the optgroup heading for the selected categories as well -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> 
             <div class="col-md-3 col-sm-3">
              <div class="card">
              	<div class="card-header card-header-icon card-header-danger">
                  <div class="card-icon">
                    <i class="material-icons">pie_chart</i>
                  </div>
                  <h4 class="card-title">Financial Position</h4>
                </div>
                <div class="card-body text-center">
                	<div id="chartFinancialPosition" class="ct-chart">
                		<div class="material-spinner"></div>
                	</div>
                	<span id="currentCurrencySymbol" th:text="#{message.currencySumbol}" class="d-none"></span>
                		<i class="material-icons text-success">fiber_manual_record</i>Total Income
                		<h4 id="totalIncomeTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                		<hr>
                		<i class="material-icons text-danger">fiber_manual_record</i>Total Spent
	                	<h4 id="totalExpensesTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                		<hr>
						<i class="material-icons text-info">fiber_manual_record</i>Total Available
                		<h4 id="totalAvailableTransactions" class="card-title font-weight-bold"><span th:text="#{message.currencySumbol}"></span>0.00</h4>
                </div>
                <div class="card-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="card-category">Legend</h6>
                      </div>
                      <div class="col-md-12">
                        
                      </div>
                    </div>
                  </div>
               </div>
            </div>          
          </div>
          <!-- end row -->
        </div>
      </div>
      
  
	<!-- Vertically Centered Modal -->
	<div class="modal fade" id="GSCCModal" tabindex="-1" role="dialog" aria-labelledby="GSCCModal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header border-bottom-0 padding-bottom-none">
              <div class="modal-card-icon">
                <i class="material-icons">input</i>
              </div>
	        <h4 class="modal-title" id="myModalLabel">Add Transactions</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form autocomplete="off" id="transactionsForm" action="#" method="post" role="form" >
	        			<div class="form-group bmd-form-group">
			      			<label class="bmd-label-floating" for="amount">Amount</label>
			      			<input id="amount" name="amount" type="number" class="form-control small-input" required aria-required="true" aria-invalid="true"/>
			      		</div>
			      		<div class="form-group bmd-form-group">
			      			<select id="categoryOptions" name="categoryOptions" class="form-control" data-toggle="dropdown" data-style="btn btn-primary" aria-haspopup="true" aria-expanded="false" data-width="auto" data-container="body" data-size="5">
			      				<optgroup id="expenseSelection" label="Expenses">
			      				</optgroup>
			      				<optgroup id="incomeSelection" label="Income">
			      				</optgroup>
			      			</select>
			      		</div>
			      		<div class="form-group bmd-form-group">
			      			<label class="bmd-label-floating" for="description">Description</label>
			      			<input id="description" name="description" type="text" class="form-control"/>
			      		</div>
			  </form>
			  <span id="successMessage" th:utext="${successMessage}"></span>
			  <span id="errorMessage" th:utext="${errorMessage}"></span>
	      </div>
	      <div class="modal-footer border-top-0 d-block padding-top-none">
	      	<button id="transactionsFormButtonSubmission" type="submit" class="btn btn-success" form="transactionsForm">Add Transaction</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>
</html>
