<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>
    Sign Up
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <object th:include="fragments/head :: head" th:remove="tag" ></object>
</head>

<body class="login-page sidebar-collapse">
	<div th:replace="fragments/header :: header">&copy; EveryRupee header</div>
  <div class="page-header header-filter" style="background-image: url('../img/bg7.jpg'); background-size: cover; background-position: top center;" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form autocomplete="off" action="#" th:action="@{/sign-up}" th:object="${profile}" method="post" class="form" role="form">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Signup</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link"  rel="tooltip" data-placement="bottom" data-original-title="Signup with Facebook">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link"  rel="tooltip" data-placement="bottom" data-original-title="Signup with Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link"  rel="tooltip" data-placement="bottom" data-original-title="Signup with Google">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <p class="description text-center">Or Be Classical</p>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                  <input type="text" th:field="*{name}" placeholder="First Name..." class="form-control" /> 
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="email" th:field="*{email}" placeholder="Email..." class="form-control" /> 
                  <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <!-- TODO An Eye icon which shows the password -->
                  <input type="password" th:field="*{password}" placeholder="Password..." class="form-control" /> 
                  <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                </div>
              </div>
              <div class="text-center">
              	<button type="submit" class="btn btn-primary btn-raised">Register User</button>	
              	<span th:utext="${successMessage}"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer">&copy; 2019 EveryRupee</div>
</body>

</html>