<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="dashboard-head">
<meta charset="utf-8" />
  <link rel="shortcut icon" type="image/x-icon" sizes="64x64" th:href="@{/img/business-name/favicon-business-name.ico}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link href="../css/core.min.css" rel="stylesheet" th:href="@{/css/core.min.css}">
  
  
</head>
<body>
	<div th:fragment="dashboard-top-nav">
	 <!-- Navbar -->
	      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
	        <div class="container-fluid">
	          <div class="navbar-wrapper">
	          	<div class="navbar-minimize">
	              <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
	                <i class="material-icons text_align-center visible-on-sidebar-regular" title="Minimize sidebar">more_vert</i>
	                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini" title="Maximize sidebar">more_horiz</i>
	              <div class="ripple-container"></div></button>
	            </div>
	            <a class="navbar-brand" href="./home">Dashboard</a>
	          </div>
	          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="navbar-toggler-icon icon-bar"></span>
	            <span class="navbar-toggler-icon icon-bar"></span>
	            <span class="navbar-toggler-icon icon-bar"></span>
	          </button>
	          <div class="overviewDateWrapper noselect">
	          	<div id="monthPickerDisplay" class="px-4">
	          		<span id="overviewMonthHeading" class="overviewMonthHeading">August</span>
            		<span class="overviewYearHeading">2019</span>
            		<svg class="overviewDateArrow" viewBox="0 0 40 40"><path d="M22.1374,28.03471a3.1012,3.1012,0,0,1-4.29536-.00148L5.14816,15.64438a2.79272,2.79272,0,0,1-.40086-3.88443,2.79274,2.79274,0,0,1,3.893.30632L17.844,21.04885c1.94327,2.06586,2.882,1.41479,4.29533.00147l9.22081-8.987a2.79286,2.79286,0,0,1,3.8935-.30338,2.79284,2.79284,0,0,1-.40329,3.88441Z"></path></svg>
	          	</div>
            	<div id="dateControl" class="popover overviewNavigationControl d-none">
            		<div class="monthPicker">
            			<div id="monthPickerPrev" class="monthPickerPrev">
            				<i class="material-icons">keyboard_arrow_down</i>
            			</div>
            			<div class="monthPickerMonths">
	            			<div id="monthPicker-1" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Jan</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-2" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Feb</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-3" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Mar</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-4" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Apr</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-5" class="monthPickerMonth">
	            				<div class="monthPickerLabel">May</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-6" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Jun</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-7" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Jul</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-8" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Aug</div>
	            				<div class="monthPickerYear"><2019</div>
	            			</div>
	            			<div id="monthPicker-9" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Sep</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-10" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Oct</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-11" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Nov</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
	            			<div id="monthPicker-12" class="monthPickerMonth">
	            				<div class="monthPickerLabel">Dec</div>
	            				<div class="monthPickerYear">2019</div>
	            			</div>
		            	</div>
		            	<div id="monthPickerNext" class="monthPickerNext">
		           			<i class="material-icons">keyboard_arrow_down</i>
		           		</div>
	            	</div>
	            </div>
              </div>
	          <div class="collapse navbar-collapse justify-content-end">
	            <ul class="navbar-nav">
	              <li class="nav-item">
	                <a class="nav-link" href="/support">
	                  <i class="material-icons">help</i>
	                  <span class="d-lg-none d-md-block">
	                    Support
	                  </span>
	                </a>
	              </li>
	              <li class="nav-item dropdown">
	                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <i class="material-icons">notifications</i>
	                  <span class="notification">5</span>
	                  <span class="d-lg-none d-md-block">
	                    Notifications
	                  </span>
	                </a>
	                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
	                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
	                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
	                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
	                  <a class="dropdown-item" href="#">Another Notification</a>
	                  <a class="dropdown-item" href="#">Another One</a>
	                </div>
	              </li>
	              <li class="nav-item dropdown">
	                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                  <img id="contact-dashboard-top-nav" src="../img/dummy/avatarProfile.jpg">
	                  <span class="d-lg-none d-md-block">
	                    Account
	                  </span>
	                </a>
	                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
	                  <a class="dropdown-item" href="./profile">Profile</a>
	                  <a class="dropdown-item" href="./settings">Settings</a>
	                  <div class="dropdown-divider"></div>
	                  <a class="dropdown-item" href="/logout">Log out</a>
	                </div>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </nav>
        <!-- End Navbar -->
        </div>
        
        
</body>
</html>