<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	  <title>
	    Budget
	  </title>
	  <link href="../css/dashboard/income/budget.min.css" rel="stylesheet" th:href="@{/css/dashboard/income/budget.min.css}">
	  <script defer th:src="@{/js/dashboard/income/budget.min.js}" type="text/javascript"></script>
</head>

<body class="budget-dashboard" >
      <div class="content" id="mutableDashboard">
        <div class="container-fluid">
        	<div class="row">
				<div class="col-lg-9">
					here
				</div>
				<div class="col-lg-3">
				</div>
			</div>
        </div>
      </div>
      
</body>

</html>
