<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
	    Dashboard Home
	  </title>
	  <object th:include="dashboard/dashboard-fragments/dashboard-head :: dashboard-head" th:remove="tag" ></object>
	  <object th:include="dashboard/dashboard-fragments/dashboard-footer :: footer-scripts">&copy; 2019 EveryRupee Scripts</object>
</head>

<body class="overview-dashboard">
  <div class="wrapper ">
    
    <div th:replace="dashboard/dashboard-fragments/dashboard-side-menu :: dashboard-side-menu">&copy; EveryRupee Dashboard Side Menu</div>
    
    <div class="main-panel">
     <div th:replace="dashboard/dashboard-fragments/dashboard-head :: dashboard-top-nav">&copy; EveryRupee Dashboard Top Navigation</div>
     <span id="currentCurrencySymbol" th:text="#{message.currencySymbol}" class="d-none"></span>
      <div class="content" id="mutableDashboard">
        
      </div>
    </div>
  </div>
  <div th:replace="popup-fragment/login-popup :: popup-login">&copy; EveryRupee Login Modal</div>
</body>

</html>
