<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Overview</title>
<link href="../css/dashboard/income/budget.min.css" rel="stylesheet" th:href="@{/css/dashboard/overview/overview.min.css}">
<script defer th:src="@{/js/dashboard/overview/overview.min.js}" type="text/javascript"></script>
</head>
<body class="overview-dashboard" >
	<div class="content" id="mutableDashboard">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<div class="card overviewAverageHeaderCard">
						<div class="card-header overviewHeadingWrapper pt-3">
							<h4 class="overviewHeadingTab">Overview</h4>
						</div>
						<div id="portfolioOverview" class="card-body">
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 incomeImage image-center">
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Income </h4>
									<div class="descriptionAverages"><span>You earn an average of </span><span id="averageIncomeAmount" class="font-weight-bold"><span id="currentCurrencySymbol" th:text="#{message.currencySymbol}"></span>0.00</span><span class="font-weight-bold"> per month</span></div>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 expenseImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Expense </h4>
									<div class="descriptionAverages"><span>You spend an average of </span><span id="averageExpenseAmount" class="font-weight-bold"><span id="currentCurrencySymbol" th:text="#{message.currencySymbol}"></span>0.00</span><span class="font-weight-bold"> per month</span></div>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 assetsImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Assets </h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 debtImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Debts </h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 networthImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Networth</h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card chartDisplayCard">
	                  <div class="card-header card-header-icon card-header-info">
	                    <div class="card-icon">
	                      <i class="material-icons">timeline</i>
	                    </div>
	                    <h4 id="chartDisplayTitle" class="card-title d-lg-inline-block noselect">Income Overview
	                      <small> - </small><small id="overviewChartMonth" class="">Every Month</small>
	                      <svg id="dateMonthArrow" class="dateMonthArrow" height="15" width="15" viewBox="0 0 40 40"><path d="M22.1374,28.03471a3.1012,3.1012,0,0,1-4.29536-.00148L5.14816,15.64438a2.79272,2.79272,0,0,1-.40086-3.88443,2.79274,2.79274,0,0,1,3.893.30632L17.844,21.04885c1.94327,2.06586,2.882,1.41479,4.29533.00147l9.22081-8.987a2.79286,2.79286,0,0,1,3.8935-.30338,2.79284,2.79284,0,0,1-.40329,3.88441Z"></path></svg>
	                    </h4>
	                    <!-- Drop Down Button -->
			        	<div class="btn-group btnGroup-1 float-right">
						  <button class="chosenChart btn btn-secondary" disabled>One Year Overview</button>
						  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <div id='chooseCategoryDD' class="dropdown-menu">
						  	<!-- Drop down dynamic load -->
						  </div>
						</div>
						
						<div id="overviewYearPicker" class="popover overviewNavigationYear d-none">
							<div class="yearPickerWrapper">
								<div id="monthPickerUp" class="monthPickerUp noselect">
	            					<i class="material-icons">keyboard_arrow_up</i>
	            				</div>
								<div class="yearPicker">
									<div class="material-spinner rtSpinner"></div>
									<!-- Dynamic Year Generation -->
			            		</div>
			            		<div id="monthPickerDown" class="monthPickerDown noselect">
	            					<i class="material-icons">keyboard_arrow_down</i>
	            				</div>
							</div>
		            	</div>
						
	                  </div>
	                  <div class="card-body">
	                    <div id="colouredRoundedLineChart" class="ct-chart">
	                    	<div class="material-spinner rtSpinner"></div>
							<!-- Charts dynamic load -->
	                    </div>
					  </div>
					</div>
				</div>
			</div>
        	<div class="row">
				<div class="col-lg-6">
					<div class="card recentTransactionCard">
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-8">
									<h4 class="recentTransactionTitle">Recent Transactions</h4>
								</div>
							</div>
						</div>
						<div class="card-body recentTransactionsBody">
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table">
									<div id="recentTransactions" class=" tableBodyDiv">
										<div class="material-spinner rtSpinner"></div>
										<!-- Recent transactions dynamic load -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card optimizationBudgetAndGoal">
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-8">
									<h4 class="optimizationTitle">Optimizations</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div id="budgetOrGoals" class="">
			                			<fieldset class="choose align-center pb-3">
										    <label><input type="radio" value="Overspent Budget" name="budgetOrGoals" checked><span class="disable-select">Overspent Budget</span></label>
										    <label><input type="radio" value="Underfunded Goals" name="budgetOrGoals"><span class="disable-select">Underfunded Goals</span></label>
										</fieldset>
			                		</div>
								</div>
							</div>
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table mb-2">
									<div class="tableHeadingDiv">
										<div class="d-lg-table-row">
											<div class="text-center w-20 d-lg-table-cell checkBoxHeading">
												<div class="form-check">
					                          		<label class="form-check-label">
					                          		<input type="checkbox" class="form-check-input" id="checkAll" disabled>
														<span class="form-check-sign">
															<span class="check">
															</span>
														</span>
													</label>
												</div>
											</div>
											<div class="budgetOptimizationTitle w-50 d-lg-table-cell">Category Name</div>
											<div class="budgetOptimizationTitle text-right w-30 d-lg-table-cell">Overspent</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body optimizationsBody pt-0">
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table">
									<div id="optimizations" class=" tableBodyDiv">
										<div class="material-spinner rtSpinner"></div>
										<!-- Recent optimizations dynamic load -->
									</div>
								</div>
							</div>
						</div>
						<div id="optimizationFooter" class="row card-footer">
							<div id="selectedOptimizations" class="col-lg-6 pl-2 font-weight-bold tripleNineColor">None Selected</div>
							<div class="col-lg-6 pr-0">
								<button id="optimizeButton" class="btn btn-info ml-auto float-right" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one optimization">Optimize</button>
								<div id="optimizationSpinner" class="material-spinner float-right d-none mr-5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
     	</div>
    </div>
</body>
</html>