<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Overview</title>
<link href="../css/dashboard/income/budget.min.css" rel="stylesheet" th:href="@{/css/dashboard/overview/overview.min.css}">
<script defer th:src="@{/js/dashboard/overview/overview.min.js}" type="text/javascript"></script>
</head>
<body class="overview-dashboard" >
	<div class="content" id="mutableDashboard">
		<div class="container-fluid">
        	<div class="row">
				<div class="col-lg-4">
					<div class="card recentTransactionCard">
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-8">
									<h3 class="recentTransactionTitle">Recent Transactions</h3>
								</div>
							</div>
						</div>
						<div class="card-body recentTransactionsBody">
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table">
									<div id="recentTransactions" class=" tableBodyDiv">
										<!-- Recent transactions dynamic load -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div id="optimizations" class="card-body">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card">
						<div id="portfolioOverview" class="card-body">
							Income
							Expense
							Assets
							Debts
							Networth
							
						</div>
					</div>
				</div>
			</div>
     	</div>
    </div>
</body>
</html>