<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Overview</title>
<link href="../css/dashboard/income/budget.min.css" rel="stylesheet" th:href="@{/css/dashboard/overview/overview.min.css}">
<script defer th:src="@{/js/dashboard/overview/overview.min.js}" type="text/javascript"></script>
</head>
<body class="overview-dashboard" >
	<div class="content" id="mutableDashboard">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-header overviewHeadingWrapper">
							<h4 class="overviewHeadingTab">Overview</h4>
						</div>
						<div id="portfolioOverview" class="card-body">
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 incomeImage image-center">
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Income </h4>
									<div class="descriptionAverages"><span>You earn an average of </span><span id="averageIncomeAmount" class="font-weight-bold"><span id="currentCurrencySymbol" th:text="#{message.currencySymbol}"></span>0.00</span><span class="font-weight-bold"> per month</span></div>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 expenseImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Expense </h4>
									<div class="descriptionAverages"><span>You spend an average of </span><span id="averageExpenseAmount" class="font-weight-bold"><span id="currentCurrencySymbol" th:text="#{message.currencySymbol}"></span>0.00</span><span class="font-weight-bold"> per month</span></div>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 assetsImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Assets </h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 debtImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Debts </h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
							<div class="row py-3 overviewEntryRow">	
								<div class="col-lg-3 networthImage image-center" >
									<div class="image-center"></div>
								</div>
								<div class="col-lg-8 namdAndDescription">
									<h4 class="font-weight-bold overviewHeading">Networth</h4>
								</div>
								<div class="col-lg-1 icon-center">
									<i class="material-icons overviewChartDisplay">keyboard_arrow_right</i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card">
	                  <div class="card-header card-header-icon card-header-info">
	                    <div class="card-icon">
	                      <i class="material-icons">timeline</i>
	                    </div>
	                    <h4 class="card-title">Coloured Line Chart
	                      <small> - Rounded</small>
	                    </h4>
	                  </div>
	                  <div class="card-body">
	                    <div id="colouredRoundedLineChart" class="ct-chart"></div>
					  </div>
					</div>
				</div>
			</div>
        	<div class="row">
				<div class="col-lg-6">
					<div class="card recentTransactionCard">
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-8">
									<h4 class="recentTransactionTitle">Recent Transactions</h4>
								</div>
							</div>
						</div>
						<div class="card-body recentTransactionsBody">
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table">
									<div id="recentTransactions" class=" tableBodyDiv">
										<div class="material-spinner rtSpinner"></div>
										<!-- Recent transactions dynamic load -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="card optimizationBudgetAndGoal">
						<div class="card-header pb-0">
							<div class="row">
								<div class="col-lg-8">
									<h4 class="optimizationTitle">Optimizations</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div id="budgetOrGoals" class="">
			                			<fieldset class="choose align-center pb-3">
										    <label><input type="radio" value="Overspent Budget" name="budgetOrGoals" checked><span class="disable-select">Overspent Budget</span></label>
										    <label><input type="radio" value="Underfunded Goals" name="budgetOrGoals"><span class="disable-select">Underfunded Goals</span></label>
										</fieldset>
			                		</div>
								</div>
							</div>
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table mb-2">
									<div class="tableHeadingDiv">
										<div class="d-lg-table-row">
											<div class="text-center w-20 d-lg-table-cell checkBoxHeading">
												<div class="form-check">
					                          		<label class="form-check-label">
					                          		<input type="checkbox" class="form-check-input" id="checkAll" disabled>
														<span class="form-check-sign">
															<span class="check">
															</span>
														</span>
													</label>
												</div>
											</div>
											<div class="budgetOptimizationTitle w-50 d-lg-table-cell">Category Name</div>
											<div class="budgetOptimizationTitle text-right w-30 d-lg-table-cell">Overspent</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body optimizationsBody pt-0">
							<div class="table-responsive">
								<div class="table table-fixed d-lg-table">
									<div id="optimizations" class=" tableBodyDiv">
										<div class="material-spinner rtSpinner"></div>
										<!-- Recent optimizations dynamic load -->
									</div>
								</div>
							</div>
						</div>
						<div id="optimizationFooter" class="row card-footer">
							<div id="selectedOptimizations" class="col-lg-6 pl-2 font-weight-bold tripleNineColor">None Selected</div>
							<div class="col-lg-6 pr-0">
								<button id="optimizeButton" class="btn btn-info ml-auto float-right" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="Select atleast one optimization">Optimize</button>
							</div>
						</div>
					</div>
				</div>
			</div>
     	</div>
    </div>
</body>
</html>