@charset "UTF-8";

.dashboard-sidebar-utils {
	margin-bottom: .5rem;
}

#dashboard-util { 
	margin-left:0;
}

#dashboard-util-fullscreen { 
	margin-left:0;
}

#icons8-reading-64 {
	background-image: url(../../img/finance-icons/debt/icons8-reading-64.png);
	width: 37px;
	margin-right: 9px;
	background-size: 37px auto;	
}

#icons8-paycheque-64 {
	background-image: url(../../img/finance-icons/income/icons8-paycheque-64.png);
	width: 37px;
	margin-right: 9px;
	background-size: 37px auto;	
}

#icons8-transaction-64 {
	background-image: url(../../img/finance-icons/invest/icons8-transaction-64.png);
	width: 37px;
	margin-right: 9px;
	background-size: 37px auto;	
}

#icons8-money-box-64.png {
	background-image: url(../../img/finance-icons/save/icons8-money-box-64.png);
	width: 37px;
	margin-right: 9px;
	background-size: 37px auto;	
}

.sidebar li > a.active {
   background-color: #9c27b0;
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
   color: #fff;
}

/**  To prevent the color from disappearing once it is selected **/
.sidebar .nav li:hover > a.active {
   background-color: #9c27b0;
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
   color: #fff;
}

/** User Siebar Dashboard **/
.sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}

.sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    transition: all .3s linear;
}

.sidebar .user a {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    padding: .5rem 15px;
    white-space: nowrap;
    transition: all .15s ease-in;
}

.sidebar .user::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}

.sidebar .user .user-info > a > span {
    display: block;
    position: relative;
    opacity: 1;
    color: #3C4858;
    transition: all .3s linear;
}

.sidebar .simple-text, .sidebar .user a {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block; 
  height: auto;
  white-space: nowrap;
  
}

.sidebar .user .user-info > a {
    display: block;
    line-height: 18px;
    font-size: 14px;
}

.sidebar .user .user-info .caret {
    position: absolute;
    top: 8px;
    right: 15px;
    display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
}

.sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.sidebar .user .photo img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

/** Dashboard Logo Settings **/

.sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 64px;
    text-align: center;
    margin-left: 10px;
    padding-top: 0px
}

.sidebar .logo a.logo-normal {
    display: block;
    opacity: 1;
    transform: translateZ(0);
    transition: all .3s linear;
    text-align: left;
    padding-top: 10px
}

.sidebar .logo a.logo-normal , .sidebar .logo a.logo-mini {
	transition: all .3s linear;
}

/** Vertical align Image Helper **/
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/** contact image **/

#contact-dashboard-top-nav{
	width: 34px;
	height: 34px;
	overflow: hidden;
	z-index: 5;
	border-radius: 50%;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
	margin-top: -3px;
	top: 0;
	position: relative;
	margin-right: 3px;
}

/** Table for Transactions **/


.pagination > .page-item.active > a, .pagination > .page-item.active > a:focus, .pagination > .page-item.active > a:hover, .pagination > .page-item.active > span, .pagination > .page-item.active > span:focus, .pagination > .page-item.active > span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(156,39,176,.14),0 1px 10px 0 rgba(156,39,176,.12),0 2px 4px -1px rgba(156,39,176,.2);
}

.material-datatables .dataTables_paginate .pagination .paginate_button .page-link {
    padding: 0 5px;
    margin: 0;
}

.pagination > .page-item > .page-link, .pagination > .page-item > span {
    border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
	    border-radius: 30px !important;
	    transition: all .3s;
	    padding: 0 11px;
	    margin: 0 3px;
	    min-width: 30px;
	    height: 30px;
	    line-height: 30px;
	    color: #999;
	    font-weight: 400;
	    font-size: 12px;
	    text-transform: uppercase;
	    background: transparent;
	    background-color: transparent;
	    text-align: center;
}

/** Button CSS**/
.button-right {
	float: right;
}

/** Align at absolute center **/
.prevMonths, .nextMonths {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.prevMonths > i, .nextMonths > i {
	font-size: 60px;
}

/** set font size header **/
#font-25 {
	font-size: 25px;
}

/** Green Icon **/
.green-icon, .green-icon:hover, .green-icon:focus{
	color: #47a44b;
	font-size: 20 px;
}

/** Set margin bottom to zero **/
.margin-bottom-zero {
	margin-bottom: 0px;
}

.red-icon {
	color: #e53935;
	font-size: 20 px;
}

.margin-left-five{
	margin-left:5px;
}

.modal-card-icon {
	border-radius: 3px;
	background-color: #47a44b;
	border-color: #39843c;
	padding: 15px;
	margin-top: -40px;
	margin-right: 15px;
	float: left;
	box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
	box-sizing: border-box;
	font-size: 25px;
}

.modal-card-icon > i {
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-size: 25px;
}

.padding-top-none {
	padding-top: 0;
}

.padding-top-0 {
	padding-top: 0 !important;
}

.padding-bottom-none {
	padding-bottom: 0;
}

/** Allow only numberic calues for firefox **/
.small-input {
  -moz-appearance: textfield;
}
.small-input::-webkit-inner-spin-button {
  display: none;
}
.small-input::-webkit-outer-spin-button,
.small-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** Disable button cursor for disabled buttons **/
.btn[disabled]{
  cursor:default;
}

.btn:not([disabled]) +label {
  cursor:pointer;
}

/** Tick Animation **/
.tick {
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
    animation-delay: .6s
}

.circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    100% { stroke-dashoffset: 0; }
}

/** Bounce In Text **/
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  40% {
    transform: scale(1.15)
  }
  70% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.font-17 {
	font-size: 17px;
}
 
.padding-left-0 {
	padding-left: 0;
}

.padding-right-0 {
	padding-right: 0;
}

/** Display select as plain text **/
.tableRowSelectCategory {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;
    height: calc(2.1rem);
    /* needed for Firefox: */
    overflow:hidden;
    width: 120%;
}

.hideableRow:hover .tableRowSelectCategory {
	display: inline-block;
	width: 100%;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #ffffff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
	background-size: 8px 10px;
	border: 1px solid #d2d2d2;
	border-radius: 0.25rem;
	appearance: none;
}

.hideableRow:hover .descriptionDivCentering, .descriptionDivCentering:active, .descriptionDivCentering:focus, .descriptionDivCentering:active, .descriptionDivCentering:focus {
	display: block;
	width: 100%;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid #d2d2d2;
	border-radius: 0.25rem;
	appearance: none;
	height: 33px;
}

.hideableRow:hover .amountDivCentering, .amountDivCentering:active, .amountDivCentering:focus {
	display: block;
	text-align: right;
	padding: 0.375rem 0.375rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid #d2d2d2;
	border-radius: 0.25rem;
	appearance: none;
}

.width-5{
	width: 5%;
}

.width-30{
	width: 30%
}

.width-15{
	width: 15%;
}

.categoryTableRow {
	cursor: pointer;
}

.height-one-five{
	line-height: 1.5;
}

#totalAvailableTransactions {
	margin-bottom: 1.275rem;
}

/** Some browsers show select with a grey background color **/
.tableRowSelectCategory {
	background-color: #fff;
}

/** Nav Item customization **/
.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
    color: #fff;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 4px;
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-pills:not(.flex-column) .nav-item + .nav-item:not(:first-child) {
    margin-left: 5px;
}

.nav-pills {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

/* sidebar customization */
.sidebar-mini .sidebar {
    font-weight: 200;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3c4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}
  