<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
 <title>
    Reset Password
  </title>
  <object th:include="fragments/head :: head" th:remove="tag" ></object>
</head>
<body class="login-page sidebar-collapse" onload="acceptParam()">
	<div th:replace="fragments/header :: header">&copy; EveryRupee header</div>
	<div class="page-header header-filter" style="background-image: url('../img/bg7.jpg'); background-size: cover; background-position: top center;">
		<div class="container">
		      <div class="row">
		        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
					<form class="form" method="POST" th:action="@{/reset-password}">
						<div class="card-header card-header-primary text-center">
							<h4 class="card-title">Reset Password</h4>
							<div class="text-center">
								<div class="card-body">
					                <div class="input-group">
					                  <div class="input-group-prepend">
					                    <span class="input-group-text">
					                      <i class="material-icons">mail</i>
					                    </span>
					                  </div>
					                  <input type="password" class="form-control"  th:placeholder="Password" id="password" name="password" placeholder="Password...">
					                </div>
					                <div class="input-group">
					                  <div class="input-group-prepend">
					                    <span class="input-group-text">
					                      <i class="material-icons">mail</i>
					                    </span>
					                  </div>
					                  <input type="password" class="form-control"  th:placeholder="Confirm" id="confirm-password" name="confirm-password" placeholder="Confirm Password...">
					                </div>
					                
					                <input type="hidden" class="form-control" th:value="${resetToken}" th:placeholder="Token" id="token" name="token" placeholder="Token...">
			                	</div>
			                	<span style="font-size: 20; color: #FF1C19;" th:utext="${successMessage}"></span>
			                	<span style="font-size: 20; color: #FF1C19;" th:utext="${errorMessage}"></span>
			                	<button class="btn btn-primary btn-raised" name="Submit" value="Reset" type="Submit" th:text="Reset"></button>
			              	</div>
			            </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">&copy; 2019 EveryRupee</div>
</body>
</html>