@charset "UTF-8";

/*!
 =========================================================
 * Custom CSS - v1.0
 =========================================================
* 
* Author: Nagarjun Nagesh
* 
* All the Custom CSS for EveryRupee gos in here
*/

.btn-upsell {
	color: #fff;
	background: #ff8d30;
	border: 2px solid #ff8d30;
}

.btn-upsell:hover {
	color: #fff;
	background: #ff8000;
	border-color: rgba(255,147,49,.1);
}
