<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="footer-scripts">
	    <!--   Core JS Files   -->
	  <script defer th:src="@{/js/core/jquery.min.js}" type="text/javascript"></script>
	  <script defer th:src="@{/js/core/popper.min.js}" type="text/javascript"></script>
	  <script defer th:src="@{/js/core/bootstrap-material-design.min.js}" type="text/javascript"></script>
	  <script defer th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
	   <!-- Loads the custom class for every rupee -->
	  <script defer th:src="@{/js/dashboard/custom-dashboard.js}" type="text/javascript"></script>
	  <!-- Loads the object comparison library -->
	  <script defer th:src="@{/js/plugins/libraries.js}" type="text/javascript"></script>
	  <!-- Plugin for the momentJs  -->
	  <script defer th:src="@{/js/plugins/moment.min.js}" type="text/javascript"></script>
	  <!--  Plugin for Sweet Alert -->
	  <script defer th:src="@{/js/plugins/sweetalert2.js}" type="text/javascript"></script>
	  <!--  Notifications Plugin    -->
	  <script defer th:src="@{/js/plugins/bootstrap-notify.js}" type="text/javascript"></script>
	  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
	  <script defer th:src="@{/js/dashboard/material-dashboard/material-dashboard.min.js}" type="text/javascript"></script>
	  <!-- Loads the sidebar settings in the dashboard -->
	  <script defer th:src="@{/js/dashboard/sidebar/sidebar.js}" type="text/javascript"></script>
	  
 	</div>
</body>
</html>