<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
			<div th:fragment="dashboard-side-menu">
			  <!-- Side Nav Start -->
			  	<div class="sidebar" data-color="purple" data-background-color="white" data-image="../img/dashboard/sidebar/sidebar-1.jpg">
					      <!--
					        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
					
					        Tip 2: you can also add an image using data-image tag
					    -->
					      <div class="logo">
					        <a href="/" class="simple-text logo-normal">
					          <img src="/favicon.ico" > Every Rupee
					        </a>
					      </div>
					      <div class="sidebar-wrapper">
					      	<div class="user">
					          <div class="photo">
					            <img src="../img/dashboard/mock-image.jpg">
					          </div>
					          <div class="user-info">
					            <a class="username">
					              <span>
					                Arjun Nagesh
					              </span>
					            </a>
					          </div>
					        </div>
					        <ul class="nav">
					          <li id="overview-dashboard-sidebar" class="nav-item">
					            <a class="nav-link" href="./home">
					              <i class="material-icons">dashboard</i>
					              <p>Overview</p>
					            </a>
					          </li>
					          <li id="income-dashboard-sidebar" class="nav-item">
					            <a class="nav-link" href="./income">
					              <i class="material-icons">person</i>
					              <p>Income</p>
					            </a>
					          </li>
					          <li id="debt-dashboard-sidebar" class="nav-item">
					            <a class="nav-link" href="./debt">
					              <i class="material-icons">content_paste</i>
					              <p>Debt</p>
					            </a>
					          </li>
					          <li id="savings-dashboard-sidebar" class="nav-item">
					            <a class="nav-link" href="./savings">
					              <i class="material-icons">library_books</i>
					              <p>Savings</p>
					            </a>
					          </li>
					          <li id="investment-dashboard-sidebar" class="nav-item">
					            <a class="nav-link" href="./investment">
					              <i class="material-icons">bubble_chart</i>
					              <p>Investments</p>
					            </a>
					          </li>
					          <li id="dashboard-sidebar-utility" class="nav-item active-pro dashboard-sidebar-utils">
					              <a id="settings-dashboard-sidebar" href="./settings" data-toggle="tooltip" data-placement="top" title="Settings">
					                <span class="fa fa-cog" aria-hidden="true"></span>
						            </a>
						            <a href="#" id="dashboard-util-fullscreen" data-toggle="tooltip" data-placement="top" title="FullScreen"  type="button">
						            	<span class="fa fa-arrows-alt" aria-hidden="true"></span>
						            </a>
						            <a id="dashboard-util" data-toggle="tooltip" data-placement="top" title="Lock">
						                <span class="fa fa-eye-slash" aria-hidden="true"></span>
						            </a>
						            <a id="dashboard-util" href="/logout" data-toggle="tooltip" data-placement="top" title="Logout">
						                <span class="fa fa-sign-out" aria-hidden="true"></span>
					            	</a>
					          </li>
					        </ul>
					      </div>
					      
					      <!-- side bar to easy logout -->
				        
					    </div>
					    <!-- Side Nav End -->
				    </div>
				
				
				<!-- Sidebar settings -->
				<div th:fragment="dashboard-sidebar-settings">
				
					<div class="fixed-plugin">
				    <div class="dropdown show-dropdown">
				      <a href="#" data-toggle="dropdown">
				        <i class="fa fa-cog fa-2x"> </i>
				      </a>
				      <ul class="dropdown-menu">
				        <li class="header-title"> Sidebar Filters</li>
				        <li class="adjustments-line">
				          <a href="javascript:void(0)" class="switch-trigger active-color">
				            <div class="badge-colors ml-auto mr-auto">
				              <span class="badge filter badge-purple" data-color="purple"></span>
				              <span class="badge filter badge-azure" data-color="azure"></span>
				              <span class="badge filter badge-green" data-color="green"></span>
				              <span class="badge filter badge-warning" data-color="orange"></span>
				              <span class="badge filter badge-danger" data-color="danger"></span>
				              <span class="badge filter badge-rose active" data-color="rose"></span>
				            </div>
				            <div class="clearfix"></div>
				          </a>
				        </li>
				        <li class="header-title">Images</li>
				        <li class="active">
				          <a class="img-holder switch-trigger" href="javascript:void(0)">
				            <img src="../img/dashboard/sidebar/sidebar-1.jpg" alt="">
				          </a>
				        </li>
				        <li>
				          <a class="img-holder switch-trigger" href="javascript:void(0)">
				            <img src="../img/dashboard/sidebar/sidebar-2.jpg" alt="">
				          </a>
				        </li>
				        <li>
				          <a class="img-holder switch-trigger" href="javascript:void(0)">
				            <img src="../img/dashboard/sidebar/sidebar-3.jpg" alt="">
				          </a>
				        </li>
				        <li>
				          <a class="img-holder switch-trigger" href="javascript:void(0)">
				            <img src="../img/dashboard/sidebar/sidebar-4.jpg" alt="">
				          </a>
				        </li>
				        <li class="button-container">
				          <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-primary btn-block">Free Download</a>
				        </li>
				        <!-- <li class="header-title">Want more components?</li>
				            <li class="button-container">
				                <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
				                  Get the pro version
				                </a>
				            </li> -->
				        <li class="button-container">
				          <a href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
				            View Documentation
				          </a>
				        </li>
				        <li class="button-container github-star">
				          <a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
				        </li>
				        <li class="header-title">Thank you for 95 shares!</li>
				        <li class="button-container text-center">
				          <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
				          <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
				          <br>
				          <br>
				        </li>
				      </ul>
				    </div>
				  </div>
				
				</div>
            
</body>
</html>